// variable
:root {
    --font-body: 'Poppins', sans-serif;
    --font-heading: 'Chakra Petch', sans-serif;

    --color-primary: #FF4D24;
    --color-secondary: #F8E11E;

    --color-heading: #060606;
    --color-dark: #0F172A;
    --color-white: #fff;
    --color-black: #000;
    --color-default: #807474;
    --color-gray: #F8F8F8;
    --color-border: #EFF5F8;
    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}