.thm-btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: None;
    color: var(--color-white);
    border-style: none;
    padding: 18px 50px;
    align-self: center;
    position: relative;
    line-height: 1.1;
    transition: all .2s cubic-bezier(.68,.01,.58,.75);
    text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	z-index: 1;
	background-color: transparent;
	&:hover {
        color: var(--color-white);
		@include transform(translateY(-2px));
		&::after {
			width: 100%;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			left: 0;
			bottom: 0;
		}
		&::before {
			border-color: var(--color-primary);
		}
    }
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid #fff;
		content: "";
		@include transition(.3s);
	}
	&::after {
		position: absolute;
		bottom: -5px;
		left: -5px;
		width: 50px;
		height: 100%;
		content: "";
		background-color: var(--color-primary);
		z-index: -2;
		clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
		@include transition(.3s);
	}
	&--black {
		color: #060606;
		&::before {
			border-color: #060606;
		}
	}
}
.xb-btn {
	background-color: var(--color-secondary);
	color: var(--color-white);
	color: #080807;
	padding: 15px 55px;
	@include border-radius(50px);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	@include transform(translateY(0px));
	@include transition(.3s);
	&:hover {
        color: #080807;
		@include transform(translateY(-3px));
    }
}

.btns {
    margin: -12px;
    a {
        margin: 12px;
    }
}