/*----------------------------------------*/
/*  04. hero
/*----------------------------------------*/
.hero {
    z-index: 1;
    position: relative;
    &__content {
        @include transform(translateY(-25px));
        @include respond(md) {
            @include transform(translateY(0));
        }
        .sub-title {
            color: #DDDDDD;
            margin-bottom: 35px;
        }
        .title {
            font-size: 65px;
            color: #fff;
            text-transform: uppercase;
            line-height: 1.3;
            @include respond(lg) {
                font-size: 50px;
            }
            @include respond(md) {
                font-size: 42px;
            }
            @include respond(xs) {
                font-size: 32px;
            }
        }
    }
    &__cta {
        .icon {
            width: 50px;
            height: 50px;
            @include border-radius(50%);
            @include center;
            background-color: var(--color-primary);
            margin-right: 15px;
        }
        .info {
            span {
                font-size: 12px;
                color: #9FA3A0;
                font-weight: 700;
            }
            h4 {
                font-size: 16px;
                font-weight: 500;
                color: var(--color-white);
            }
        }
    }
    &__product {
        margin-right: -110px;
        @include respond(laptop) {
            margin-right: -70px;
        }
        @include respond(lg) {
            max-width: 420px;
            @include transform(translateX(70px));
        }
        @include respond(xs) {
            @include transform(translateX(0px));
            margin-right: 0;
        }
    }
}
.hero-height {
    min-height: 870px;
    @include respond(lg) {
        min-height: 650px;
    }
}
.hero-shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include respond(laptop) {
        left: -20%;
    }
    @include respond(lg) {
        left: -19%;
        max-width: 740px;
    }
}
.hero-style-one {
    @include respond(md) {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}
.hero-style-two {
    padding-top: 140px;
    padding-bottom: 100px;
    @include respond(lg) {
        padding-top: 100px;
    }
    @include respond(xs) {
        padding-top: 60px;
    }
}
.hero-content {
	width: 25%;
    order: 1;
    @include respond(md) {
        width: 100%;
        margin-bottom: 20px;
    }
}
.hero-info {
    width: 20%;
    order: 3;
    @include respond(md) {
        width: 28%;
    }
    @include respond(xs) {
        width: 100%;
        margin-top: 30px;
    }
}
.hero-info-feature {
    h2 {
        font-size: 45px;
    }
    span {
        color: #DDDDDD;
        text-transform: uppercase;
        font-family: var(--font-heading);
        font-weight: 700;
    }
}
.hero-img {
    width: 574px;
    height: 574px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include border-radius(50%);
    position: relative;
    margin-left: -50px;
    order: 2;
    @include respond(lg) {
        max-width: 450px;
        height: 500px;
    }
    @include respond(md) {
        margin-left: 0;
    }
    @include respond(xs) {
        order: 1;
        height: auto;
    }
    & > img {
        @include respond(lg) {
            max-width: 260px;
        }
        @include respond(xs) {
            height: auto;
            max-width: 180px;
        }
    }
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        padding: 1px;
        -webkit-mask: linear-gradient(#fff 0 0)content-box,linear-gradient(#fff 0 0);
        mask-composite: add, add;
        mask-composite: add,add;
        -webkit-mask-composite: source-out;
        mask-composite: exclude;
        background-color: var(--color-primary);
        background: linear-gradient(182deg, #ddd 0%, #080807 86.33%);
        @include respond(xs) {
            display: none;
        }
    }
    & > img {
        @include transform(translateY(40px));
        @include respond(xs) {
            @include transform(translateY(0px));
        }
    }
}
.hero-img-shape {
    .shape {
        position: absolute;
        z-index: -1;
        &--1 {
            left: -6px;
            bottom: 33px;
        }
        &--2 {
            right: 47px;
            bottom: 16px;
        }
    }
}
.hero-rating {
    margin-bottom: 8px;
    li {
        color: var(--color-secondary);
        &:not(:last-child) {
            margin-right: 7px;
        }
    }
}
.hero-review {
    p {
        color: #A1A19E;
        span {
            color: var(--color-white);
        }
    }
}
.xb-hero-shape {
    .shape {
        position: absolute;
        z-index: -1;
        &--1 {
            bottom: -90px;
            left: 0;
        }
        &--2 {
            top: 34%;
            right: 0;
        }
    }
}