/*----------------------------------------*/
/*  32. preloader
/*----------------------------------------*/
  .xb-loadding-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1030;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	&.style-dark {
		background-color: #080807;
	}
}
.xb-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 65px;
	text-align: center;
}
  .xb-loadding-inner {
	animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;

}
.xb-loadding-inner img {
	position: relative;
	z-index: 2;
	margin: auto;
	max-width: 100%;
	height: auto;
}